<!DOCTYPE html>
<html>

<head>
    <style>

    </style>
    <title>
        about
    </title>
    <link rel="stylesheet" type="text/css" href="assets/index.css">
</head>

<body>
    <div class="index_head">
        <img src="./assets/img/neo_img.jpg" alt="fill later" style="width: 120px;">
    </div>
    <h4>
        Hey, I'm <span class="highlight">neo</span>! I like building things. Some of the things I'm working on:
    </h4>
    <ul>
      <li><span class="highlight">kraken</span>: a homemade operating system targeting x86-64</li>
        <li>improving this site</li>
    </ul>
    <h4>
        I am a fresh graduate from <span class="highlight">UIUC</span>, so I don't have much professional experience. In the past, I've worked as:
    </h4>
    <ul>
        <li>verification engineer @ apple</li>
        <li>software development intern @ amazon</li>
        <li><a href="https://ieeexplore.ieee.org/document/9622856">researcher @ uiuc</a></li>
    </ul>
    <h4>
        If you'd like to contact me, you can reach me at:
    </h4>
    <ul>
        <li>neo [dot] vasudeva [dot] nv [at] gmail [dot] com</li>
        <li><a href="https://www.linkedin.com/in/neo-vasudeva-036882154/">my linkedin</a></li>
    </ul>
    <h4>
      <span class="highlight">This personal site is heavily inspired by <a href="https://supercip971.github.io/">supercyp's blog</a>. I followed his <a href="https://supercip971.github.io/01-how-I-created-this-blog.html">post</a> about how he created his blog.</span>
    </h4>
    <p><a href="index.html">back to home > </a></p>

</body>
</html>
