<!DOCTYPE html>
<html>

<head>
    <title>
        {{page_name}}
    </title>
    <link rel="stylesheet" type="text/css" href="assets/index.css">
</head>

<body>
    <div class="index_head">
      <img src="./assets/img/neo_img.jpg" alt="img neo" style="width: 120px;">
      <h1>{{page_name}}</h1>
      <h4>{{summary}}</h4>
      <h4> <a href="{{source}}"> source code </a> -- <a href="about.html"> about </a> -- <a href="assets/resume.pdf"> resume </a></h4>
    </div>

    [[content]]

</body>
</html>
